
        <!-- Start: NewsLetter Area
        ==================================-->
        <section class="news_letter-bg" data-stellar-background-ratio="0.5">

            <!-- Start: COLOR OVERLAY -->
            <div class="overlay-color">
                <div class="container">
                    <div class="row">
                        <div class="news_letter_body section-separator">

                            <!-- Start: Section Header -->
                            <div class="section-header col-md-8 col-md-offset-2" >

                                <h2 class="section-heading">街頭健身最新資訊</h2>
                                <p>Lorem ipsum dolor sit amet event landing template, consectetuer adipiscing elit event landing template, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.</p>

                            </div>
                            <!-- End: Section Header -->

                            <!-- Start: Subscribe Button area -->
                            <form id="mailchimp-subscribe" class="mailchimp-subscribe subscribe-form-inner wow fadeInDown">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <p class="subscription-success"></p>
                                        <p class="subscription-failed"></p>
                                        <div class="input-group">
                                            <input type="email" id="subscriber-email" name="email" placeholder="Your email address" class="subscribe-input form-control btn btn-1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-1 btn-left-fill">訂閱</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- End: Subscribe Button area -->


                            <!-- =========================
                                LOCAL SUBSCRIPTION FORM
                            ============================== -->
                            <!-- COMMENTED FOR ALTERNATE USE-->

                            <!--<form class="local-subscribe subscribe-form-inner wow fadeInDown" id="local-subscribe" >
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">

                                        <p class="subscription-success"><i class="fa fa-check"></i> Your quote has successfully been sent.</p>
                                        <p class="subscription-failed"><i class="fa fa-close"></i> Something went wrong!</p>

                                        <div class="input-group">
                                            <input type="email" id="subscriber-email" name="email" placeholder="Your email address" class="form-control btn btn-1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-1 btn-left-fill">Submit</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>-->

                        </div>
                        <!-- End: NewsLetter Body Area-->
                    </div>
                    <!-- End: "row" -->
                </div>
                <!-- End:  "container"-->
            </div>
            <!-- End: COLOR OVERLAY -->

        </section>
        <!-- End: NewsLetter Area
        ==================================-->

