
        <!-- Start: Footer Area
        =============================== -->
        <footer class="video-footer">
            <!-- black Mask for covering Dispus -->
            <div id="black_mask"></div>
            
            <div class="container">
                <div class="row footer-body section-separator">
                
                    <!-- Your Icon Goes Here  -->
                    <div class="logo">
                        <%= link_to image_tag("logo.png", class: "img-responsive"), "https://www.facebook.com/ginastreetworkout/" %>
                    </div>

                    <!-- Social Icon Goes Here  -->
                    <div class="social-icon col-xs-12">
                        <ul class="nav">
                            <li><a href="https://www.facebook.com/ginastreetworkout/" class="btn btn-1 btn-top" target="_blank"> <i class="fa facebook fa-facebook"></i> </a></li>
                            <li><a href="https://www.youtube.com/channel/UCYfDENwiQMPYkqk_bB7ax7g/videos" class="btn btn-1 btn-top" target="_blank"> <i class="fa fa-youtube" aria-hidden="true"></i> </a></li>
                            <li><a href="#" class="btn btn-1 btn-top"> <i class="fa skype fa-skype"></i> </a></li>
                            <li><a href="#" class="btn btn-1 btn-top"> <i class="fa rss fa-rss "></i> </a></li>
                        </ul>
                    </div>

                    <div class="copyright col-xs-12">
                        <p>Copyright 2016 Gin-a team - All rights reserved. <i class="fa fa-trophy" aria-hidden="true" ></i> <span class="Taiwan">Taiwan</span> </p>
                    </div>


                </div><!-- End: .row .footer-body .section-separator  -->
            </div> <!-- End: .container  -->
        </footer>
        <!-- End: Footer Area
        =====================================-->