
        <!-- Start: Our Featured Area
        ==============================-->
        <section id="our-featured">
            <div class="container">
                <div class="row our-featured-body section-separator">

                    <!-- Start: Section Header -->
                    <div class="section-header col-md-8 col-md-offset-2">

                        <h2 class="section-heading">比賽預告</h2>
                        <p>
                            2016街頭健身年度賽事，草根盃倒數計時！<br>
                            你覺得一身好手卻缺少舞台嗎？你想認識更多街頭健身同好嗎？或者你想近距離觀看熱血沸騰的比賽實況？草根盃歡迎所有對健身熱血的人，邀請你一同享受自由的健身樂趣，完全免費報名，還有獎金可拿，勢必精彩可期！
                        </p>
                    </div>
                    <!-- End: Section Header -->

                    <div class="clearfix"></div>

                    <!-- Start: Our Featured video -->
                    <div class="our-featured-video col-md-10 col-md-offset-1 wow fadeInDown">

                        <!--  Start: Video Area  "PASTE YOUR VIDEO LINK HERE " -->
                        <div class="video">
                           <!-- <iframe class="video-async" data-source="vimeo" data-video="89035281" data-color="3AC353" allowfullscreen="" src="https://player.vimeo.com/video/8"></iframe>  -->
                           <!--  Video Link Goes Here-->
                           <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/8yHlR6GsYuE" frameborder="0" allowfullscreen></iframe> -->
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/o7IJSkYRhhE" frameborder="0" allowfullscreen></iframe>

                        </div>
                        <!--  End: Video Area  -->

                    </div>
                    <!-- End: Our Featured Video -->

                </div>
                <!-- Start: .row .our-featured-body .section-separator  -->
             </div>
             <!-- End: container  -->
        </section>
        <!-- End: Our Featured Area
        ====================================-->