
<!-- Start: Pricing Table Area
=====================================-->
<section id="pricing-table" class="fix">
    <div class="container">
        <div class="row section-separator">

            <!-- Start: Section Header -->
            <div class="section-header col-md-6 col-md-offset-3" >

                <h2 class="section-heading">贊助方案</h2>
                <p>Lorem ipsum dolor sit amet event landing template, consectetur adipisicing elit. Suscipit corrupti facilis event landing template, enim earum numquam minus veritatis nobis accusamus similique, totam?</p>

            </div>
            <!-- End: Section Header -->

            <!-- Start: .table -->
            <div class="table wow fadeInDown">
                <div class="row">

                    <!-- Table no-1-->
                    <div class="pricing-table col-xs-12 col-sm-6">
                        <div class="table-single">

                            <div class="meta-price col-sm-5 col-xs-12">
                                <div class="meta-price-inner">
                                    <span class="currency">$</span>
                                    <span class="rate">13</span> <br/>
                                    <span class="period">/all days</span>
                                </div>
                            </div>
                            <div class="pricing-right col-sm-7 col-xs-12">
                                <h3 class="meta-heading">囡仔紀念T - 黑</h3>
                                 <ul>
                                    <li>Business Class Flight Ticket</li>
                                    <li>Startup Review</li>
                                </ul>
                                <div class="btn-scroll-2">
                                    <a href="#register" class="btn btn-1 btn-left">Register Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End: .table-single -->
                    </div>

                    <!-- Table no-1-->
                    <div class="pricing-table col-xs-12 col-sm-6">
                        <div class="table-single">

                            <div class="meta-price col-sm-5 col-xs-12">
                                <div class="meta-price-inner">
                                    <span class="currency">$</span>
                                    <span class="rate">49</span> <br/>
                                    <span class="period">/all days</span>
                                </div>
                            </div>
                            <div class="pricing-right  col-sm-7 col-xs-12">
                                <h3 class="meta-heading">囡仔紀念T - 白</h3>
                                 <ul>
                                    <li>Business Class Flight Ticket</li>
                                    <li>Startup Review</li>
                                </ul>
                                <div class="btn-scroll-2">
                                    <a href="#register" class="btn btn-1 btn-left">Register Now</a>
                                </div>
                            </div>
                        </div>
                        <!-- End: .table-single -->
                    </div>

                </div>
                <!-- End: .row -->
            </div>
            <!-- End: .table -->

        </div>
        <!-- End: .row .section-separator  -->
    </div>
    <!-- End: .container  -->
</section>
<!-- End: .Pricing .Table Area
==================================-->
