
        <!-- Start: Collapse Area
        ==================================-->
        <section class="collapse-area" id="collapse-area">
            <div class="container">
                <div class="row section-separator">

                    <!-- Start: Section Header -->
                    <div class="section-header col-md-8 col-md-offset-2">

                        <h2 class="section-heading">常見問題</h2>
                        <p>Lorem ipsum dolor sit amet event landing template, consectetur adipisicing elit. Suscipit corrupti facilis event landing template, enim earum numquam minus veritatis nobis accusamus similique, totam?</p>

                    </div>
                    <!-- End: Section Header -->


                    <!-- Start: Collapse Area Inner  -->
                    <div class="collapse-inner col-sm-12 col-md-offset-2 col-md-8">
                        <!--  Start: Collapse-tab  -->
                        <div class="collapse-tab wow fadeInDown">
                            <div class="panel-group" id="accordion">

                                <!-- Start: Tab-1 -->
                                <div class="panel panel-default" id="panel1">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <!-- Tab-1 Title Goes Here  -->
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                                                What if I need to cancel my booking at late notice?
                                                <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">

                                        <!-- Tab-1 Detail Goes Here  -->
                                        <div class="panel-body">
                                            Lorem ipsum dolor sit amet event landing template, consectetuer adipiscing elit event landing template, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna  aliquam erat volutpat. Ut wisi enim ad minim veniam event landing template, quis nostrud exerci tation ullamcorp eu feugiat nulla facilisis at vero eros et accumsan et iusto odior
                                        </div>

                                    </div>
                                </div>
                                <!-- End: Tab-1 -->

                                <!-- Start: Tab-2 -->
                                <div class="panel panel-default" id="panel2" >
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <!-- Tab-1 Title Goes Here  -->
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                                Which payment methods do you accept?
                                                <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">

                                        <!-- Tab-2 Detail Goes Here  -->
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit event landing template, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute event landing template, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3.
                                        </div>

                                    </div>
                                </div>
                                <!-- End: Tab-2 -->

                                <!-- Start: Tab-3 -->
                                <div class="panel panel-default" id="panel3">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <!-- Tab-3 Title Goes Here  -->
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                                I'd like to buy 5 tickets event landing template, is there bulk pricing?
                                                <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">

                                        <!-- Tab-3 Detail Goes Here  -->
                                        <div class="panel-body">
                                           Anim pariatur cliche reprehenderit event landing template, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute event landing template, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3.
                                        </div>

                                    </div>
                                </div>
                                <!-- End: Tab-3 -->

                                <!-- Start: Tab-4 -->
                                <div class="panel panel-default" id="panel4" >
                                    <div class="panel-heading">
                                        <h4 class="panel-title">

                                            <!-- Tab-4 Title Goes Here  -->
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">
                                                What if I need to cancel my booking at late notice?
                                                <span class="collapse-icon"><i class="fa fa-angle-down"></i></span>
                                            </a>

                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">

                                        <!-- Tab-4 Detail Goes Here  -->
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit event landing template, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute event landing template, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3.
                                        </div>

                                    </div>
                                </div>
                                <!-- End: Tab-4 -->

                            </div>
                            <!-- End: .panel-group  -->
                        </div>
                        <!--  End: .collapse-tab  -->

                    </div>
                    <!-- End: Collapse Area Inner  -->


                </div>
                <!-- End: .row  -->
            </div>
            <!-- End: .container  -->
        </section>
        <!-- End: Collapse Area
        ==============================-->