                                        <!-- Start: item -->
                                        <div class="panel panel-default" id="hall-1-1-panel-1">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">

                                                    <!-- Tab-1 Title Goes Here  -->
                                                    <a data-toggle="collapse" data-parent="#accordion-1-1" href="#hall-1-1-collapseOne" class="" aria-expanded="true">
                                                        <span class="detail col-sm-11">
                                                            <span class="headline">
                                                            <%= movement %> &nbsp &nbsp
                                                                <span class="duration">
                                                                    <%= time_per_person %> 
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="time col-sm-3">
                                                            <span class="show-time"><%= duration %></span>
                                                        </span>
                                                    </a>

                                                </h4>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <!-- End: item -->