.disqus_block {
	background-color: #000;
}

#disqus_thread {
	color: #fff;
	background-color: #000000;
}

.video-footer {
	position: relative;

	#black_mask {
		background-color: #fff;
		position: absolute;

		top: -30px;
	}
}



